body{
    background-color: rgb(224, 202, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
   text-align: center;
   
   background-color: chocolate;
   border-style:ridge;
   border-width: 15px;
   border-radius: 50px;
   border-color:coral;
}

header>p{
    font-size: 30px;
}

p{
font-size: 25px;
}

h1{
    font-size: 50px;
}

main {
    background-color: chocolate;
    padding: 25px;
    margin: 10px;
    border-style:ridge;
   border-width: 1cm;
   border-radius: 50px;
   border-color:coral;
}

div {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px 250px;
    margin: 10px;
    
}

.game_button{
    border-radius: 100%;
    margin: 15px;
    padding: 25px;
}

a{
    font-size: 50px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}